<app-nba-header></app-nba-header>

<div class="nba-teams">
    <div class="nba-teams__header">
      <h1 class="nba-teams__title">NBA Teams</h1>
    </div>
    <div class="nba-teams__content" >
      <div class="nba-teams__list">
        <div class="nba-teams__item">
          <div class="nba-teams__item__logo" (click)="openDialog(teams.response[19].id)">
            <img [src]="teams.response[19].logo" [alt]="" />
          </div>
          <div class="input-text">
            {{ teams.response[19].name }}
          </div>
            {{text}}
        </div>
        <div class="data"  *ngFor="let data of data$ | async"> 
          <ul>
            <li>{{ data }}</li>
          </ul>
        </div>
        <div class="nba-teams__item">
          <div class="nba-teams__item__logo" (click)="openDialog(teams.response[7].id)">
            <img [src]="teams.response[7].logo" [alt]="" />
          </div>
          <div class="nba-teams__item__name">
            {{ teams.response[7].name }}
          </div>
        </div>
        <div class="nba-teams__item">
          <div class="nba-teams__item__logo" (click)="openDialog(teams.response[23].id)">
            <img [src]="teams.response[23].logo" [alt]="" />
          </div>
          <div class="nba-teams__item__name">
            {{ teams.response[23].name }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nba-form">
    <form [formGroup]="profileForm">
      <label for="fname">First name:</label><br>
      <input formControlName="firstName" type="text" id="fname" name="fname"><br>
      <label for="fname">Last Name:</label><br>
      <input formControlName="lastName"  type="text" id="fname" name="fname"><br>
      <label for="fname">Address:</label><br>
      <input formControlName="address" type="text" id="fname" name="fname"><br>
    </form>
  </div>
  
  